aiohttp
aiosignal
aiostream
altair
annotated-types
anthropic
anyio
astroid
asttokens
async-timeout
attrs
backoff
beautifulsoup4
blinker
blis
boto3
botocore
cachetools
catalogue
certifi
cffi
charset-normalizer
click
cloudpathlib
cloudpickle
colorama
coloredlogs
colorlog
comm
confection
ConfigArgParse
cymem
dataclasses-json
debugpy
decorator
deepdiff
dependency-injector
deprecation
diff-match-patch
dill
diskcache
distro
dnspython
docstring-parser
webdriver-manager
docutils
email_validator
en-core-web-lg @ https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.7.1/en_core_web_lg-3.7.1-py3-none-any.whl#sha256=ab70aeb6172cde82508f7739f35ebc9918a3d07debeed637403c8f794ba3d3dc
executing
fastapi
filelock
flake8
frozenlist
fsspec
gitdb
GitPython
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-generativeai
googleapis-common-protos
gotrue
graphviz
greenlet
grep-ast
grpcio
grpcio-status
h11
h2
hiredis
hpack
httpcore
httplib2
httpx
huggingface-hub
humanfriendly
Hypercorn
hyperframe
idna
ijson
importlib-resources
importlib_metadata
inflection
iniconfig
instructor
ipykernel
ipython
isort
jedi
Jinja2
jmespath
joblib
jsonpatch
jsonpath
jsonpath_ng
jsonpointer
jsonref
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
kafka-python
langchain
langchain-community
langchain-core
langchain-text-splitters
langcodes
langsmith
language_data
litellm
marisa-trie
markdown-it-py
MarkupSafe
marshmallow
matplotlib-inline
mccabe
mdurl
memory-profiler
ml-dtypes
mpmath
multidict
murmurhash
mypy-extensions
nest-asyncio
networkx
numpy
nvidia-ml-py
nvidia-ml-py3
objgraph
openai
ordered-set
orjson
outcome
packaging
pandas
parso
pathspec
phonenumbers
pillow
platformdirs
playwright
pluggy
postgrest
preshed
presidio-analyzer
presidio-anonymizer
priority
prompt_toolkit
proto-plus
protobuf
psutil
pure-eval
pyarrow
pyasn1
pyasn1_modules
pycodestyle
pycparser
pycryptodome
pydantic
pydantic-settings
pydantic_core
pydeck
pydeps
pyee
pyflakes
Pygments
pyinstrument
pylint
pypandoc
pypdf
pyparsing
pyreadline3
PySocks
pytest
pytest-asyncio
python-dateutil
python-dotenv
pytz
PyYAML
pyzmq
realtime
redis
redisvl
referencing
regex
requests
requests-file
rich
rpds-py
rsa
s3transfer
safetensors
scalene
scikit-learn
scipy
selenium
selenium_stealth
sentence-transformers
six
smart-open
smmap
sniffio
sortedcontainers
sounddevice
soundfile
soupsieve
spacy
spacy-legacy
spacy-loggers
SQLAlchemy
srsly
stack-data
starlette
stdlib-list
storage3
streamlit
StrEnum
supabase
supafunc
sympy
tabulate
tenacity
thinc
threadpoolctl
tiktoken
tldextract
tokenizers
toml
tomlkit
toolz
torch
tornado
tqdm
traitlets
transformers
tree-sitter
tree-sitter-languages
trio
trio-websocket
typer
typing-inspect
typing_extensions
tzdata
uritemplate
urllib3
uvicorn
wasabi
watchdog
watchtower
wcwidth
weasel
websockets
wsproto
yarl
zipp
